.bundle
db/*.sqlite3
log/*.log
tmp/**/*
/.db/lucene-db/SystemNode/_0.cfs
/.db/lucene-db/SystemNode/_0_1.del
/.db/lucene-db/SystemNode/_1.cfs
/.db/lucene-db/SystemNode/_1_1.del
/.db/lucene-db/SystemNode/_2.cfs
/.db/lucene-db/SystemNode/_2_2.del
/.db/lucene-db/SystemNode/_3.cfs
/.db/lucene-db/SystemNode/_3_1.del
/.db/lucene-db/SystemNode/_4.cfs
/.db/lucene-db/SystemNode/_4_1.del
/.db/lucene-db/SystemNode/_5.cfs
/.db/lucene-db/SystemNode/_5_1.del
/.db/lucene-db/SystemNode/_6.cfs
/.db/lucene-db/SystemNode/_6_1.del
/.db/lucene-db/SystemNode/_7.cfs
/.db/lucene-db/SystemNode/_7_1.del
/.db/lucene-db/SystemNode/_8.cfs
/.db/lucene-db/SystemNode/segments.gen
/.db/lucene-db/SystemNode/segments_h
/db/neo4j/active_tx_log
/db/neo4j/neostore
/db/neo4j/neostore.id
/db/neo4j/neostore.nodestore.db
/db/neo4j/neostore.nodestore.db.id
/db/neo4j/neostore.propertystore.db
/db/neo4j/neostore.propertystore.db.arrays
/db/neo4j/neostore.propertystore.db.arrays.id
/db/neo4j/neostore.propertystore.db.id
/db/neo4j/neostore.propertystore.db.index
/db/neo4j/neostore.propertystore.db.index.id
/db/neo4j/neostore.propertystore.db.index.keys
/db/neo4j/neostore.propertystore.db.index.keys.id
/db/neo4j/neostore.propertystore.db.strings
/db/neo4j/neostore.propertystore.db.strings.id
/db/neo4j/neostore.relationshipstore.db
/db/neo4j/neostore.relationshipstore.db.id
/db/neo4j/neostore.relationshiptypestore.db
/db/neo4j/neostore.relationshiptypestore.db.id
/db/neo4j/neostore.relationshiptypestore.db.names
/db/neo4j/neostore.relationshiptypestore.db.names.id
/db/neo4j/nioneo_logical.log.1
/db/neo4j/nioneo_logical.log.active
/db/neo4j/tm_tx_log.1
