%table.inventory_categories
  %tr
    %th= sort_link(:categoryID, 'id', 'inventory_categories')
    %th= sort_link(:categoryName, 'name', 'inventory_categories')
    %th description
  
  = render @inventory_categories
