%tr[inventory_category]
  %td= link_to(inventory_category.id, inventory_category_path(inventory_category))
  %td= truncate(inventory_category.categoryName.downcase, :length => 25)
  %td= truncate(inventory_category.description, :length => 48)

