$light-grey: #aaaaaa
$orange: #ff6600
$thick: 10px
  
@mixin setup
  color: $light-grey
  margin: 0
  padding: 0

body.bp
  margin: 0
  padding: 0
  border: 1px solid $orange
  font-size: 15px
  margin: $thick * 4
  padding: $thick
  background-color: black
  color: $light-grey
  margin-left: $thick * 4
  padding-left: $thick * 4
  margin-right: $thick * 4
  padding-right: $thick * 4
  
  a:link, a:visited
    color: $orange
    text-decoration: none
  a:hover
    text-decoration: underline

  #content
    padding-bottom: $thick * 2
    
  h1
    +setup
    margin-top: $thick
    margin-bottom: $thick
    a:link, a:visited
      color: $light-grey
      text-decoration: none
    a:hover
      text-decoration: underline

  h2
    +setup
    margin-top: $thick
    margin-bottom: $thick
  h3
    +setup
    margin-top: $thick
    margin-bottom: $thick
      
  form.bp
    input
      font-size: 1.1em
      background-color: $light-grey
      font-weight: bold
        
  ul
    +no-bullets
    +horizontal-list
      
  p
    label
      float: left
      width: $thick * 20
      font-weight: bold

.spaced
  margin: $thick
.right
  float: right
