%tr[group]
  %td= link_to(group.id, group_path(group))

  %td= truncate(group.useBasePrice.to_s, :length => 25)

  %td= truncate(group.allowManufacture.to_s, :length => 25)

  %td= truncate(group.description.to_s, :length => 25)

