%tr[constellation]
  %td= link_to(constellation.id, constellation_path(constellation))
  %td= constellation.constellationName.downcase
  %td= constellation.security_avg
  %td= constellation.systems_count
