%tr[market_group]
  %td= link_to(market_group.id, market_group_path(market_group))
  %td= market_group.marketGroupName
  %td= market_group.parent.marketGroupName
  %td= truncate(market_group.description.to_s, :length => 125)

